name: Java CI

on:
  push:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Build project
        run: mvn -B package -DskipTests

      - name: Start Spring Boot
        run: |
          nohup mvn -B spring-boot:run &
          sleep 20

      - name: Run tests
        run: mvn -B test
